# Logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

# TypeScript cache
*.tsbuildinfo

# Dependencies
node_modules

# Build Results
dist

# Test Coverage Output
coverage

# Generated graphql types
__generated__
